<section class="todoapp">
  <header class="header">
    <div [class.editing]="voirEditTitre">
    <h1 *ngIf="!voirEditTitre" class="viewTitre" (dblclick)="voirEditTitre = true">{{title}}</h1>
    <form *ngIf="voirEditTitre" (submit)="title=newTextInputTitre.value">
      <input  #newTextInputTitre
              name    = "newTextInputTitre"
              class   = "editTitre"
              [ngModel]="title"
              (blur)="title=newTextInputTitre.value"/>
    </form>
</div>
    <form (submit)="appendItem( newTodoInput.value); newTodoInput.value=''">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            [ngModel]="isAllDone()"
            (ngModelChange)="toggleAllDone()"
    />
    <fa-icon class="delete-all" size="2x" [icon]="faTrashAlt" (click)="deleteAllItems()"></fa-icon>
    <ul class="todo-list">
        <li  *ngFor="let item of getFilteredItems()" [class.editing]="itemCompo.voirEdit" [class.completed]="item.isDone">
          <app-todo-item #itemCompo [data]="item"></app-todo-item>
        </li>
    </ul>
  </section>


  <footer class="footer">
    <span class="todo-count" ><strong>{{this.items.filter(this.filterUnDone).length}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll"
        (click) = "currentFilter=filterAll"
        [class.selected] = "currentFilter==filterAll"
        >Tous</a>
      </li>
      <li>
        <a class="filterActives"
        (click) = "currentFilter=filterUnDone"
        [class.selected] = "currentFilter==filterUnDone">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted"
        (click) = "currentFilter=filterDone"
        [class.selected] = "currentFilter==filterDone">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="clearCompletedToDos()">Supprimer cochées</button>
  </footer>
</section>
<hr/>
