div.editing {
    border-bottom: none;
    padding: 0;
  }
  
div.editing .editTitre {
    display: block;
    position: absolute;
    top: -140px;
    width: 550px;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }
  
div.editing .viewTitre {
    display: none;
  }

.icones {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 35px;
    border: none; /* Mobile Safari */
    padding: 10px;
}